@font-face {font-family: 'mf-iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#uxiconfont') format('svg'); /* iOS 4.1- */
}
.mf .mf-iconfont{
    font-family:"mf-iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.mf .f32{
    font-size: 32px;
}
.mf .form-icon{
    text-decoration: none;
    color: gray;
}
.mf .form-icon:hover{
    text-decoration: none;
    color: #3a92db;
}

.mf .form-icon-close{
    color: #bf0005;
}
.mf .form-icon-close:hover{
    color: red;
}
.mf .clearfix{clear:both;}
.mf .fr{float:right;}


.mf .formitem-ml10{margin-left: 10px;}
.mf .formitem-ml50{margin-left: 50px;}


.mf .formitem-p{margin: 16px 0 0 0;}
.mf .formitem-p:first-child{margin: 0;}
.mf .formitem-label{ font-weight:normal;display:inline-block;margin-right:80px;width:100px;text-align: right;overflow: hidden;text-overflow:ellipsis;vertical-align: middle;}
.mf .formitem-label.align-left{ font-weight:normal;display:inline-block;width: 150px;overflow: hidden;text-overflow:ellipsis;vertical-align: middle;text-align: left;margin-right: 0;}
.mf .formitem-radio-label{margin: 0 10px;}
.mf .formitem-checkbox-label{margin: 0 10px;}
.mf .form-array-ul{display: inline-block;}
.mf .form-array-li{display: inline-block;margin-top: 5px;}
.mf .formitem-input,.mf .formitem-select{width: 150px;padding:3px;}
.mf .form-item-remove{margin-left: 6px;visibility: hidden;}
.mf .form-item-remove:hover{color: red;}
.mf .form-item-add{padding-bottom: 5px;}

.mf .form-dialog{ position: absolute;background: gray;}
.mf .form-dialog .form-dialog-content{padding:10px;margin: 20px 80px 20px 0;}
.mf .form-dialog .form-dialog-buttons{padding:10px;margin: 0 80px 5px 0;}
